<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icono_pintia_tour"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_pintia_tour_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PintiaTour"
        tools:targetApi="31">
        <activity
            android:name=".EndOfVisitActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NextPointQuestionaryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NextPointContentActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NextPointMapActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShowInitialVisitPointActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CustomVisitActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuickAdviseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ContactInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectVisitActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoadingAppActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>